<div class="hero-unit">
    <%= form_tag( {:action => 'login'}) do  %>
        <%= label_tag 'E-mail', nil, :for => :email %>
        <%= text_field_tag :email %>
        <%= label_tag 'Password', nil, :for => :password %>
        <%= text_field_tag :password %>
        
        <br/>
        <%= submit_tag "Submit" %>
        
    <% end %>
</div>