<div class="hero-unit">
	<h2>My uploads</h2>
<% if @videos.nil? %>
	<p>No videos available</p>
<% else %>
	<% @videos.each do |video| %>
		<% if video.user_id == session[:user_id] %>
			<h3><%= video.name %></h3>
			<p><%= video.message %></p>
			<br />
			<video src="https://d3qgmyxmxzje1g.cloudfront.net/<%= video.target_file.split("public/mp4/")[1] %>" type="video/mp4" controls>
			Your web browser does not support this video format (H.264/AAC).
			</video>
			<br />
			<p>Status: <% if video.state == Video::PROCESSED %>
				Video successfully converted to MP4 (H.264/AAC).
			<% else %>
				Video conversion in progress.
			<% end %></p>
			<p>Uploaded on <%= video.created_at %>.</p>
			<% if video.state == Video::PROCESSED %>
				<p>Published on <%= video.updated_at %>.</p>
			<% end %>
			<hr />
		<% end %>
	<% end %>
<% end %>
</div>
